@import-normalize;
@import 'navbar.css';
@import 'navhamburgermenu.css';
@import 'navlink.css';
@import 'navlinkhamburger.css';
@import 'hero.css';
@import 'category.css';
@import 'cards-container.css';
@import 'clientlist.css';
@import 'client.css';
@import 'form.css';
@import 'footer.css';
@import 'footerlink.css';
@import 'footerlinksocial.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maison Neue', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

body {
  max-width: 100%;
  min-height: 100vh;
}

/* font & border color */
:root {
  --gray: #808080;
  --light-gray: #DDDDDD;
  --nav-line-gray: #A3A3A3;
  --border-footer-gray: #3E3E3E;
  --black: black;
  --footer-black: #0E0E0E;
  --button-black: #121212;
  --white: white;
  --red: #FF2929;
  --opacity: rgba(0, 0, 0, 0.66)
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

img,
svg {
  width: 100%;
}

.dept_logo {
  width: 73px;
  height: 20px;
}

/* hero & cards' font */

.small {
  font-size: 1rem;
}

.title {
  font-size: 3rem;
}