h1>span,
blockquote>span {
  display: block;
}

.card__image {
  width: 100%;
  height: 100%;
  opacity: var(--opacity);
}

.card__grid,
.card__flex,
.card__flex--reverse {
  display: grid;
  grid-template-columns: 1fr;
}

.card__article {
  position: relative;
}

.card__text__container {
  position: absolute;
  bottom: 0;
  padding-left: 2em;
  color: var(--white);
}

.card__flex__list,
.quote {
  background-color: var(--button-black);
  color: var(--white);
}

.card__text__name,
.card__flex__name {
  padding-bottom: 1em;
}

.card__text__title {
  padding-right: 4em;
  font-size: 1.6rem;
}

.card__text__name,
.card__flex__name {
  text-transform: uppercase;
}

.card__flex__article:nth-of-type(2) {
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  padding-top: 1em;
}

.card__flex__article:nth-of-type(3) {
  padding-top: 1em;
}

.circle {
  width: fit-content;
}

.read-more {
  padding-left: 0.5em;
}

.show-link {
  visibility: hidden;
  display: inline-flex;
}

.quote {
  text-align: center;
}

.quote__description {
  font-size: 1.6rem;
}

.quote__name {
  padding-top: 2em;
  font-size: 1.1rem;
}

@media (min-width: 481px) and (max-width: 767px) {
  .card__text__title {
    padding-right: 5em;
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .card__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card__flex,
  .card__flex--reverse {
    grid-template-columns: auto 60%;
  }

  .card__flex__title {
    padding-bottom: 0.5em;
  }

  .card__text__container {
    bottom: 5%;
  }

  .card__text__title {
    padding-right: 3em;
    padding-bottom: 0.5em;
    font-size: 2.2rem;
  }

  .show-link {
    visibility: visible;
  }

  .read-more:hover {
    color: var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
  }

  .card__flex--reverse {
    direction: rtl;
  }

  .card__flex--reverse>.card__flex__article,
  .card__flex--reverse>.card__flex__list {
    direction: ltr;
  }
}

@media (min-width: 1025px) {
  .card__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card__flex,
  .card__flex--reverse {
    grid-template-columns: auto 60%;
  }

  .card__flex__title {
    padding-bottom: 0.5em;
  }

  .card__text__container {
    bottom: 5%;
  }

  .card__text__title {
    padding-right: 3em;
    padding-bottom: 0.5em;
    font-size: 2.2rem;
  }

  .show-link {
    visibility: visible;
    padding: 0.5em;
  }

  .read-more:hover {
    color: var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
  }

  .card__flex--reverse {
    direction: rtl;
  }

  .card__flex--reverse>.card__flex__article,
  .card__flex--reverse>.card__flex__list {
    direction: ltr;
  }
}