.footer__nav__logo {
  visibility: hidden;
}

.footer__nav,
.footer__nav__menu {
  display: flex;
  flex-direction: column;
}

.footer__nav__item {
  margin: 1em 0;
}

.footer__nav__link {
  padding: 1em;
}

.footer__nav__link__text {
  text-transform: uppercase;
}

@media (min-width: 990px) {
  .footer__nav__logo {
    visibility: visible;
  }

  .footer__nav,
  .footer__nav__menu {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .footer__nav__menu {
    padding-left: 10em;
  }

  .footer__nav__item {
    padding: 0 1.5em;
  }

  .footer__nav__link__text {
    border-bottom: 8px solid transparent;
  }

  .footer__nav__link__text:hover,
  .footer__nav__link__text:focus {
    cursor: pointer;
    border-bottom: 1px solid var(--white);
    transition: .8s border-bottom;
  }
}