.footer__nav__logo {
  width: 4em;
  visibility: hidden;
}

.footer__nav__link__text {
  text-transform: uppercase;
}

.footer__nav,
.footer__nav__menu {
  display: flex;
  flex-direction: column;
}

.footer__nav__item {
  margin: 1em 0;
}

.footer__nav__link {
  padding: 2em;
}

@media (min-width: 990px) {
  .footer__nav__logo {
    visibility: visible;
  }

  .footer__nav,
  .footer__nav__menu {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .footer__nav__menu {
    padding-left: 10em;
  }

  .footer__nav__item {
    padding: 0 1.5em;
  }
}