footer {
  background-color: var(--footer-black);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__container--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__info__menu {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  margin-top: 2em;
  border-top: 1px solid var(--border-footer-gray);
}

.footer__info__menu>.footer__info__item:last-child {
  padding-top: 2em;
}

@media (min-width: 1025px) and (orientation: landscape) {
  .footer__container--top {
    padding: 1.5em 0;
  }

  .footer__info__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0 0 0;
  }

  .footer__info__item {
    padding-right: 1.8em;
  }

  .footer__info__menu>.footer__info__item:last-child {
    padding: 0;
    margin-left: auto;
  }
}