.hero__container {
  position: relative;
  opacity: var(--opacity);
}

.hero {
  max-width: 100%;
  height: 50vh;
  object-fit: cover;
}

.bold {
  font-weight: 700;
}

.hero__text {
  position: absolute;
  left: 3%;
  right: 5%;
  bottom: 10%;
  line-height: 34px;
  color: var(--white);
}

.hero__text--small {
  font-size: 1.5rem;
  padding-bottom: 2em;
}

.hero__text--big,
.bold {
  font-size: 2rem;
}

.hero__text--big {
  font-weight: 400;
  padding-bottom: 10px;
}

@media (min-width: 768px) {

  .hero__text {
    left: 3.89%;
    right: 20%;
  }
}

@media (min-width: 1024px) {
  .hero {
    min-height: 70vh;
    bottom: 25%;
  }

  .hero__text {
    right: 50%;
  }
}

@media (min-width: 1440px) {
  .hero {
    min-height: 100vh;
  }
}