.hero__container {
  position: relative;
  opacity: var(--opacity);
}

.hero {
  max-width: 100%;
  height: 50vh;
  object-fit: cover;
}

h1>span {
  display: block;
}

.hero__text {
  position: absolute;
  left: 3.89%;
  right: 20%;
  bottom: 10%;
  line-height: 34px;
  color: var(--white);
}

.category {
  padding-bottom: 1em;
}

.bold {
  font-weight: 700;
}

.title.title,
.bold {
  font-size: 1.4rem;
}

.hero__title {
  font-weight: 400;
  padding-bottom: 10px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .hero__text {
    right: 25%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .hero__text {
    right: 40%;
  }

  .title.title,
  .bold {
    font-size: 1.8rem;
  }
}

@media (min-width: 1025px) {
  .hero {
    min-height: 70vh;
    bottom: 25%;
  }

  .hero__text {
    right: 45%;
  }

  .title.title,
  .bold {
    font-size: 2.1rem;
  }
}

@media (min-width: 1440px) {
  .hero {
    min-height: 100vh;
  }

  .title.title,
  .bold {
    font-size: 2.4rem;
  }
}