.hero {
  position: relative;
  max-width: 100%;
  height: 30rem;
  object-fit: cover;
  opacity: var(--opacity);
  font-size: 0;
}

.bold {
  font-weight: 700;
}

.hero__text {
  position: absolute;
  left: 3%;
  right: 5%;
  top: 35%;
  bottom: 5.3%;
  line-height: 34px;
  color: var(--white);
}

.hero__text--small {
  font-size: 1.5rem;
  padding-bottom: 2em;
}

.hero__text--big,
.bold {
  font-size: 2rem;
}

.hero__text--big {
  font-weight: 400;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .hero {
    width: 100%;
    height: fit-content;
  }

  .hero__text {
    left: 3.89%;
    right: 20%;
    top: 40%;
  }
}

@media (min-width: 1024px) {
  .hero__text {
    top: 50%;
    right: 50%;
  }

  @media (min-width: 1400px) {
    .hero__text {
      top: 65%;
    }
  }
}