nav {
  background-color: var(--black);
}

.navbar,
.navbar__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile__home {
  position: absolute;
  top: 5%;
  left: 5%;
}

.mobile__navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@media (min-width: 1025px) {
  .navbar__main__home {
    position: absolute;
    top: 5%;
  }

  .navbar__main {
    margin-left: auto;
  }

  .mobile__home {
    left: 3%;
  }
}