nav {
  background-color: var(--black);
  padding: 2em 2em;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav__main {
  display: flex;
  align-items: center;
}

.nav__main__home {
  width: 4em;
}

@media (min-width: 990px) {
  nav {
    padding: 2em 4em;
  }
}