.menu__icon {
  visibility: hidden;
}

.menu__btn {
  visibility: visible;
  position: absolute;
  right: 3%;
  
}

.menu__btn__text {
  font-size: 0.8rem;
  line-height: 18px;
}

.menu__icon:hover {
  cursor: pointer;
}

.menu--toggler {
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--black);
}

@media (min-width: 990px) {
  .menu__icon {
    visibility: visible;
    padding: 2em;
  }

  .menu__btn {
    visibility: hidden;
  }
}