  .menu--show {
    visibility: hidden;
  }

  .nav__main__links,
  .nav__main__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
  }

  @media (min-width: 990px) {
    .menu--show {
      visibility: visible;
    }

    .nav__main__links {
      margin-left: auto;
    }

    .nav__main__link {
      text-transform: uppercase;
      padding: 2em;
    }

    .nav__main__link__text {
      border-bottom: 8px solid transparent;
    }

    .nav__main__link__text:hover,
    .nav__main__link__text:focus {
      cursor: pointer;
      border-bottom: 1px solid var(--white);
      transition: .8s border-bottom;
    }
  }