.nav__hamburger-menu__item {
  border-bottom: 1px solid var(--nav-line-gray);
}

.nav__hamburger-menu__link {
  text-transform: uppercase;
}

.nav__hamburger-menu__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 990px) {

  .nav__hamburger-menu__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
  }
}