  .nav__main__links--hide,
  .nav__main__menu {
    visibility: hidden;
  }

  .nav__links,
  .nav__main__links,
  .nav__main__menu {
    display: flex;
    text-transform: uppercase;
  }

  .nav__main__link {
    padding: 2em 0;
  }

  @media (min-width: 1025px) {
    .nav__main__menu {
      visibility: visible;
    }

    .nav__main__link {
      padding-right: 2em;
    }

    .nav__main__link__text {
      border-bottom: 8px solid transparent;
      transition: .8s border-bottom ease;
    }

    .nav__main__link__text:hover,
    .nav__main__link__text:focus {
      cursor: pointer;
      border-bottom: 1px solid var(--white);
    }
  }