.nav__hamburger-menu__location {
  visibility: hidden;
  position: absolute;
  top: 15%;
  left: 3%;
  /* padding-top: 1em; */
}

.nav__hamburger-menu__location__item {
  border-bottom: 1px solid var(--nav-line-gray);
  margin-bottom: 0.5em;
}

.nav__hamburger-menu__location__text {
  border-bottom: 8px solid transparent;
}

.nav__hamburger-menu__location__text:hover,
.nav__hamburger-menu__location__text:focus {
  cursor: pointer;
  border-bottom: 1px solid var(--white);
  transition: .8s border-bottom;
}

.nav__hamburger-menu__item--left {
  color: var(--nav-line-gray);
  margin-bottom: 1em;
}

@media (min-width: 1025px) {
  .nav__hamburger-menu__location {
    visibility: visible;
  }
}