.nav__hamburger-menu__menu {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: right;
  padding-top: 10em;
}

.nav__hamburger-menu__item {
  border-bottom: 1px solid var(--nav-line-gray);
  margin-bottom: 0.5em;
  padding-top: 1em;
  transition: border-bottom 2s;
}

.nav__hamburger-menu__item:hover,
.nav__hamburger-menu__item:focus {
  border-bottom: transparent;
  cursor: pointer;
}

.nav__hamburger-menu__text {
  font-size: 3.75rem;
  border-bottom: 8px solid transparent;
  height: 100px;
  transition: .8s border-bottom ease;
}

.nav__hamburger-menu__text:hover,
.nav__hamburger-menu__text:focus {
  cursor: pointer;
  border-bottom: 1px solid var(--white);
}

@media (min-width: 768px) {
  .nav__hamburger-menu__menu {
    padding-top: 8em;
  }
}